.profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.profile-container {
    margin: 20px;
}

h4.profile-name {
    text-align: center;
}

.top-row {
    height: 80px;
}

.button {
    text-align: center;
}
