.container {
    padding: 80px 0 0 0;
}

.goal-tab {
    margin: 50px 0 0 0;
}

.goal-detail {
    margin: 10px 0 0 0;
}

.goal-detail-row {
    margin: 0 !important;
}

.tabs {
        background-color: rgb(246, 246, 246);
}